@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

button.slick-next {
    right: 80px;
    z-index: 10;
}

button.slick-prev {
    left: 20px;
    z-index: 10;
}

button.slick-next::before {
    border-radius: 50%;
    color: gray;
    content: '\276F';
    background-color: #ebc1c1;
    width: 80px;
    height: 80px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.slick-prev::before {
    border-radius: 50%;
    color: gray;
    content: '\276E';
    background-color: #ebc1c1;
    width: 80px;
    height: 80px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}